<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%-include('partials/header');-%>
    <div class="maind">
        <div class="m">
            <h1><ins>MEDMIN</ins></h1>
            <h1>Live a diabetes Free life</h1>
            <h2>we believe in hustle free grinding</h2>
            <h3>A hospital bed is a parked taxi with the meter running.</h3>
        </div>
        <a href="https://www.nmc.org.in/information-desk/indian-medical-register/">
            <div class="m1">
                <h1>1</h1>
                <div class="t">
                  <h3>find doctor</h3>
                </div>
            </div>
        </a>
        <a href="https://www.starhealth.in/customerportal/instant-buy/?utm_source=google&utm_campaign=Mid-Search-Generic&utm_agid=136836218346&utm_term=family%20health%20insurance&creative=601126350365&device=c&gclid=Cj0KCQiA-JacBhC0ARIsAIxybyPMvvsdya7OlaFwjIKPg2Xb9sVwvORqPPB5-mrZwkOjrgWXWeCNfV4aAiZ5EALw_wcB">
            <div class="m2">
                <h1>2</h1>
                <div class="t">
                    <h3>Insurance</h3>
                </div>
            </div>
        </a>
        <a href="https://medlineplus.gov/druginformation.html">
            <div class="m3">
                <h1>3</h1>
                <div class="t">
                    <h3>Best medicines</h3>
                </div>
            </div>   
        </a>
        <a href="/aps">
            <div class="m4">
                <h1>4</h1>
                <div class="t">
                    <h3>Book appointment</h3>
                </div>
            </div>
        </a>              
        <a href="https://www.google.com/search?q=hospital+near+me&oq=hospital+near+me&aqs=chrome..69i57j0i402l2j0i512l7.5110j0j7&sourceid=chrome&ie=UTF-8">
            <div class="m5">
                <h1>5</h1>
                <div class="t">
                    <h3>hospital nearby</h3>
                </div>
            </div>
        </a>
        <a href="https://www.save.life/?_branch_match_id=1113336101890650591&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXL04sS83JTEvVSywo0MvJzMvWT08tAQAe86XdHQAAAA%3D%3D">
            <div class="m6">
                <h1>6</h1>
                <div class="t">
                    <h3>Donate blood</h3>
                </div>
            </div>                         
        </a>
    </div>
    
    <%-include('partials/footer');-%>    
</body>
</html>