<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="v1">
        <h1 class="bx">HI THERE,HOW ARE YOU</h1>
        <div class="v2">
            <div class="v3">
                <form action="/log" method="post">
                    <input class="us" type="text" placeholder="user name" name="user_name"><br>
                    <input class="ps" type="password" name="pass" placeholder="password"><br>
                    <h2><%=kindoday%></h2><br>
                    <h3><a href="/register">Register here</a></h3>
                    <button class="log"type="submit">Let's go</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>